__pycache__/
*.py[cod]
*$py.class

.cache
.pytest_cache
.tox
.coverage
.DS_Store
.python-version
.sonar
/sdist/
/dist/
/build/

coverage.xml
/reports/
/htmlcov/

.idea
.vscode
.env

.ipynb_checkpoints/
.mypy_cache/
/*.egg-info/
settings.local.yaml

.teamcity/target
tmp
/venv/
