{% extends "layout.html" %}
{% block body %}
{{super()}}

<html>
  <head>
    <title>KKAutoSigner</title>
  </head>
  <body>
  <div style="max-width: 500px; margin: auto;">
    <h1>Dohovor na dobychu:</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <button class="btn btn-secondary" role="button"><input type="file" name="file" multiple accept=".pdf"></button><p></p>
      <button class="btn btn-secondary" role="button"><input type="submit" value="Поставить печать и подписать"></button>
    </form>
    </div>
  </body>
</html>
{% endblock %}